* {
  box-sizing: border-box;
}

/*button styling*/
.button-class {
    display: flex;
    padding: 20px;
    font-size: 16px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-primary {
  width: 150px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.692);
}

/*Modal Styling*/
.modal-header {
text-decoration: overline;
transition: tranform 0.3 ease-in;
font-size: medium;
color: #3498db;
}
.modal-body {
  margin-left: 32%;
}
/*General styling*/
  h1{
    text-align: center;
  }

  ul{
    list-style-type: none;
    text-align: center;
  }

  #image-container {
    position: relative;
    margin-left: 50%;
    height: 50px;
    width: 50px;
    align-self: center;
}


/* Media queries */
@media all and (max-width: 768px) {
  .button-class {
      padding-top: 26px;
      padding-bottom: 26px;
  }
}
